<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

    <h2>Voce acessou como: {{ logged_user.name }}</h2>
    <p>Seus chas preferidos sao:</p>
    <form action="/teamachine/{{ logged_user.id }}/order/" method="POST">
        {% csrf_token %}
        {% for each_tea in logged_user.my_tea_list.all %}
            <input type="radio" name="tea" id="{{ forloop.counter }}" value="{{ each_tea.id }}" />
            <label for="{{ forloop.counter }}">{{ each_tea.name }}</label><br>
        {% endfor %}
    <input type="submit" value="Fazer Pedido" />
    </form>

    <p><a href="/teamachine/{{ logged_user.id }}/create/">Registre um novo sabor</a></p>

</body>
</html>