<h1>Faça seu cadastro:<br /></h1>
<form action="{% url 'register' %}" method="POST">
    {% csrf_token %}

    <p>Primeiro nome:</p>
    <input type="text" name="name" id="name">
    <br>

    <p>Nick:</p>
    <input type="text" name="nick" id="nick">
    <br>

    <p>Mail:</p>
    <input type="text" name="mail" id="mail">
    <br>

    <p>Password:</p>
    <input type="text" name="password" id="password">
    <br>

    <p>Photo_path</p>:
    <input type="text" name="photo" id="photo">
    <br>
    <input type="submit" value="Cadastrar" />
</form>